@import url(../../index.scss);
$linearGradient: linear-gradient(
  99.64deg,
  rgba(0, 138, 77, 1) 0%,
  rgba(0, 128, 175, 1) 100%
);

// $linearGradient_arc: radial-gradient(
//   circle,
//   rgba(255, 40, 40, 1) 10%,
//   rgba(252, 193, 0, 1) 34.65059995651245%,
//   rgba(78, 172, 153, 1) 48.82839918136597%,
//   rgba(0, 162, 222, 1) 67.12250113487244%,
//   rgba(0, 138, 77, 1) 100%
// );
// $linearGradient_arc: radial-gradient(
//   circle,
//   rgba(255, 40, 40, 1) 80%,
//   rgba(252, 193, 0, 1) 30.65059995651245%,

//   rgba(0, 138, 77, 1) 100%
// );
$linearGradient_arc: radial-gradient(
  110.32% 158.54% at 1.78% 89.88%,
  #ff2828 0%,
  #fcc100 37.65%,
  #008a4d 66.56%,
  #00a2de 100%,
  #4eac99 100%
);

@mixin gradient_text {
  background: $linearGradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  transition: background 0.3s;
}
@mixin gradient_text_arc {
  background: $linearGradient_arc;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  transition: background 0.3s;
}

.gradient_text_arc {
  @include gradient_text_arc;
}

.Header {
  position: relative;
  top: 0;
  width: 100%;
  /* background-color: red; */
  display: grid;
  place-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  @media all and (max-width: 1300px) {
  }

  .main_struct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 10rem;
      @media all and (max-width: 1300px) {
        width: 7rem;
      }
      img {
        width: 100%;
      }

      .link {
        color: inherit !important;
        text-decoration: none;
      }

    }

    .nav {
      display: inline-flex;
      justify-content: space-between;
      width: 70%;
      user-select: none;
      color: var(--black);

      ul {
        width: auto;
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;

        li {
          display: inline-block;
          margin-right: 15px;
          cursor: pointer;

          .link {
            color: inherit !important;
            text-decoration: none;
            @media all and (max-width: 1300px) {
              display: none;
            }
          }

          .active {
            @include gradient_text;
            transition: background 0.3s;
          }

          //   &:last-child {
          //     margin-right: 0px;
          //     @media all and (max-width: 1300px) {
          //       display: none;
          //     }
          //   }
        }
      }

      .header_stuf {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .toogleLightContainer {
          cursor: pointer;
          @media all and (max-width: 1300px) {
            margin-right: 0px;
          }
          .toogleLight {
            @mixin border-radius {
              border-radius: 12px;
            }

            margin-left: 0rem;
            @media all and (max-width: 1300px) {
              margin-left: 0rem;
              margin-right: 0px;
            }
            @include border-radius;
            border-style: solid;
            border-color: var(--black);
            border-width: 1px;
            width: 54px;
            height: 24px;
            position: relative;
            display: grid;
            place-items: center;

            .slide {
              width: 50%;
              height: 80%;
              background-color: var(--black);
              @include border-radius;
              transform: translateX(-35%);
              transition: transform 0.3s;
            }

            .icon {
              position: absolute;
              width: 80%;
              display: inline-flex;
              justify-content: space-between;

              svg {
                width: 0.8rem;

                :nth-child(1) {
                  fill: var(--black);
                }
                :nth-child(2) {
                  fill: var(--black);
                }
              }
            }
          }

          .active {
            transition: transform 0.3s;
            background: none;

            .slide {
              transform: translateX(35%);
              transition: transform 0.3s;
            }
          }
        }

        .btn_menu {
          display: none;
          @media all and (max-width: 1300px) {
            margin-left: 0rem;
            margin-right: 0rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            user-select: none;
            .btn_cta {
              padding-top: 9px;
              padding-bottom: 9px;
              padding-left: 12px;
              padding-right: 12px;
              margin-left: 1rem;
              font-size: 0.8em;
            }
            color: var(--white);
          }

          .link {
            color: inherit !important;
            text-decoration: none;
          }
        }

        .cta {
          @media all and (max-width: 1300px) {
            display: none;
          }
        }
      }
    }
  }
}
