

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .dark {

  --bgcolor: #040404 !important;

  --black: #f1f2ee !important;

  --blue-lite: #d6f4ff;
  --gray: #707070;
  --green-lite: #caf5c9;
  --red-lite: #ffcbc2;
  --stroke: #0404044d;
  --yellow-lite: #fef4be;
  --index: calc(1vw + 1vh);
  --bgcolor: #f1f2ee;
  --font: "Unbounded";

}

.container{
  width: 100%;
  height: auto;
  background-color: rebeccapurple;
} */